@charset "UTF-8";

/*
   Career Craze Base Style Sheet
   Authors: Lucas Eastman, Cynthia Sepulveda, Dominic Torricelli
   Date: 1.4.18

   Filename: base.css
*/

/* HTML and Body Styles */

html {
  min-height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #DBDBDB;
}

body {
  min-width: 1000px;
  margin: 0 auto;
  background: linear-gradient(0deg, #D7AA7D 0%, #FFEAC4);
  box-shadow: -25px 0 50px black, 25px 0 50px;
}

/* Below Nav Styles */

#belowNav {
  padding-top: 50px;
}

/* Header Styles */

header a {
  -webkit-display: flex;
  display: flex;

  flex-flow: row wrap;

  justify-content: space-around;
}

#logo {
  height: 250px;
}

/* Moving Nav Styles */

#movingNav {
  position: fixed;
  top: 0%;
  width: 100%;
}

#movingNav ul {
  -webkit-display: flex;
  display: flex;

  flex-flow: row nowrap;
}

#movingNav ul a {
  padding: 10px 5px;
  width: 12.75%;
  color: white;
  text-align: center;
  background-color: #E8700C;
  border-bottom: 2.5px solid white;
  opacity: 0.85;

  transition: width 0.5s, color 1s, background-color 1s, border-bottom-color 1s;
}

#movingNav ul a:hover {
  width: 20%;
  color: #E8700C;
  background-color: #FFFFFF;
  border-bottom-color: #E8700C;
  opacity: 1;
}

/* Footer Styles */

footer {
  margin-top: 25px;
  padding: 10px 0;
  width: 100%;
  background-color: #E8700C;
}

footer p {
  text-align: center;
}
