@charset "UTF-8";

/*
   Career Craze Individual Page Style Sheet 5
   Authors: Lucas Eastman, Cynthia Sepulveda, Dominic Torricelli
   Date: 1.8.18

   Filename: styles8.css
*/

/* Main Section Styles */

main {
  padding: 0 25px;
}

main h1 {
  padding: 0.5em 0;
  color: white;
  font-size: 5em;
  text-align: center;
}

/* Page Intro Styles */

#pageIntro h2 {
  padding: 0.5em 0;
  color: white;
  font-size: 2em;
}

#pageIntro p {
  padding: 25px;
  border-left: 5px solid white;
}

/* Form Styles  */

#contactForm {
  margin: 15px auto;
  padding: 25px;
  width: 50%;
  background-color: #FFEAC4;
  border: 1px solid black;
}

#contactForm fieldset {
  /* border: 2.5px solid white; */
  margin: 0 auto;
  border: none;
  background-color: #E6C197;
}

#contactForm textarea {
  margin-top: 5px;
  width: 95%;
}

#buttons {
  text-align: center;
}

#buttons input {
  font-size: 1em;
}

#contactForm input:focus, #contactForm textarea:focus {
  background-color: #FFFFCC;
}

#contactForm input:focus:valid, #contactForm textarea:focus:valid {
  background-color: #DEFFE5;
}

#contactForm input:focus:invalid, #contactForm textarea:focus:invalid {
  background-color: #FFCCCC;
}
