@charset "UTF-8";

/*
   Career Craze Individual Page Style Sheet 5
   Authors: Lucas Eastman, Cynthia Sepulveda, Dominic Torricelli
   Date: 1.6.18

   Filename: styles5.css
*/

/* Main Section Styles */


/* section styles */
section#content {

}


/* aside styles */
aside#appList {
  border: solid 5px rgb(208, 132, 32);
}

h1#check {
  background-color: rgb(208, 132, 32);
  text-align: center;
}

p#check {
  background-color: rgb(208, 132, 32);
  text-align: center;
}



/* Flexbox */
.flexbox {
  display: flex;
  flex-wrap: nowrap;
}

.flexbox>div {
  width: 50%;
  margin: 0px 50px;
  text-align: left;
}
