@charset "UTF-8";

/*
   Career Craze Individual Page Style Sheet 5
   Authors: Lucas Eastman, Cynthia Sepulveda, Dominic Torricelli
   Date: 1.6.18

   Filename: styles7.css
*/


/*Main Section styles*/
main {
  padding: 5%;
  margin-top: ;

}

h1{
  text-align: center;
  color: white;
  font-size: 4em;
  line-height: 1em;
}

p{
  font-size: 1em;
  padding: 10px;
}

p#ending{
  margin-top: 15px;
}

p>b {
  color: white;

}

b{
  text-shadow: 2px 2px #FF9F00;
}

div>p{

}

a{
  text-decoration: none;
  color: white;
}

div.box1{

  border: 5px solid white;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 45%;
  box-shadow: 10px 5px 5px red;
}

div.box2{

  border: 5px solid white;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 32%;
  box-shadow: 10px 5px 5px red;
}

div#help{
  text-align: center;
}

div#FF{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
