@charset "UTF-8";

/*
   Career Craze Individual Page Style Sheet 5
   Authors: Lucas Eastman, Cynthia Sepulveda, Dominic Torricelli
   Date: 1.8.18

   Filename: styles8.css
*/

/* Main Section Styles */

main {
  padding: 0 25px;
}

main h1 {
  padding: 0.5em 0;
  color: white;
  font-size: 5em;
  text-align: center;
}

/* Contact Section */

#contact {
  -webkit-display: flex;
  display: flex;

  align-items: flex-start;
}

#form {
  width: 75%;
}

/* Page Intro Styles */

#formIntro h2 {
  padding: 0.5em 0;
  color: white;
  font-size: 2em;
}

#formIntro p {
  padding: 25px;
  border-left: 5px solid white;
}

/* Form Styles  */

#contactForm {
  margin: 15px auto;
  padding: 25px;
  width: 75%;
  background-color: #FFEAC4;
  border: 1px solid black;
  border-radius: 25px;
}

#contactForm fieldset {
  /* border: 2.5px solid white; */
  margin: 0 auto;
  border: none;
  background-color: #E6C197;
}

#contactForm textarea {
  margin-top: 5px;
  width: 95%;
}

#buttons {
  text-align: center;
}

#buttons input {
  font-size: 1em;
}

#contactForm input:focus, #contactForm textarea:focus {
  background-color: #FFFFCC;
}

#contactForm input:focus:valid, #contactForm textarea:focus:valid {
  background-color: #DEFFE5;
}

#contactForm input:focus:invalid, #contactForm textarea:focus:invalid {
  background-color: #FFCCCC;
}

/* Aside Sections */

#contactInfo {
  padding: 15px;
  width: 25%;
  border: 5px solid black;
  border-radius: 10px;
  background-color: rgba(232, 112, 12, 0.5);
}

#contact h3 {
  color: white;
  text-align: center;
}
