@charset "UTF-8";

/*
   Career Craze Individual Page Style Sheet 2
   Authors: Ryan Powell, Cynthia Sepulveda, Dominic Torricelli
   Date: 1.8.18

   Filename: styles2.css
*/

main h1 {
  padding: 0.5em 0;
  color: #E8700C;
  text-shadow: 3px -3px rgb(69, 67, 57);
  font-size: 5em;
  text-align: center;
}

#aboutText div {
  margin: 0 25px;
  text-indent: 2.5em;
}

#aboutText div h2 {
  padding: 0.5em 0;
  color: rgb(75, 75, 75);
  text-shadow: 1.5px 0px #E8700C;
  font-size: 2em;
  text-align: left;
}

#aboutText p {
  padding: 15px 15px;
  line-height: 1.5em;
}

#aboutText a {
  color: #E8700C;
  text-decoration: none;
}

#aboutText a:hover {
  text-decoration: underline;
}
