@charset "UTF-8";

/*
   Career Craze Individual Page Style Sheet 5
   Authors: Lucas Eastman, Cynthia Sepulveda, Dominic Torricelli
   Date: 1.8.18

   Filename: styles8.css
*/

/* Main Section Styles */

main {
  padding: 0 25px;
}

main h1 {
  padding: 0.5em 0;
  color: #E8700C;
  text-shadow: 3px -2px rgb(69, 67, 57);
  font-size: 5em;
  text-align: center;
  border-bottom: solid black 3px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Contact Section */

#contact {
  -webkit-display: flex;
  display: flex;

  align-items: flex-start;
}

#form {
  width: 75%;
}

/* Page Intro Styles */

#formIntro h2 {
  padding: 0.5em 0;
  color: rgb(75, 75, 75);
  text-shadow: 1px 0px #E8700C;
  font-size: 2em;
}

#formIntro p {
  padding: 25px;
}

/* Form Styles  */

#contactForm {
  margin: 15px auto;
  padding: 25px;
  width: 75%;
  background-color: #FFEAC4;
  border: 1px solid black;
  border-radius: 25px;
}

#contactForm fieldset {
  /* border: 2.5px solid white; */
  margin: 0 auto;
  border: none;
  background-color: #E6C197;
}

#contactForm textarea {
  margin-top: 5px;
  width: 95%;
}

#buttons {
  text-align: center;
}

#buttons input {
  font-size: 1em;
}

.textInput:focus {
  background-color: #FFFFCC;
}

.textInput:focus:valid {
  background-color: #DEFFE5;
}

.textInput:focus:invalid {
  background-color: #FFCCCC;
}

/* Aside Sections */

#contactInfo {
  padding: 15px;
  width: 25%;
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
  background-color: rgba(232, 112, 12, 0.5);
}

#contact h3 {
  margin-bottom: 0.5em;
  color: white;
  font-size: 2em;
}

#contact h4 {
  margin-bottom: 0.25em;
  color: white;
  font-size: 1.25em;
}

#addressHeader {
  margin-top: 10px;
}

#contactInfo address {
  margin-bottom: 10px;
}

#emailLink {
  margin-bottom: 10px;
}

#contactInfo a {
  color: white;
  text-decoration: none;
}

#contactInfo a:hover {
  text-decoration: underline;
}
