@charset "UTF-8";

/*
   Career Craze Individual Page Style Sheet 6
   Authors: Lucas Eastman, Cynthia Sepulveda, Dominic Torricelli
   Date: 1.9.18

   Filename: styles6.css
*/


main h1 {
  padding: 0.5em 0;
  color: #E8700C;
  text-shadow: 3px -2px rgb(69, 67, 57);
  font-size: 5em;
  text-align: center;
  border-bottom: solid black 3px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#jobview div {
  margin: 0 25px;
  text-indent: 2.5em;
}

#jobview div h2 {
  padding: 0.5em 0;
  color: rgb(75, 75, 75);
  text-shadow: 1.5px 0px #E8700C;
  font-size: 2em;
  text-align: left;
}

#jobview p {
  padding: 20px 15px;
  line-height: 1.5em;
}
